<div class="jumbotron">
    <h1 class="display-3">Welcome to PrepCS!</h1>
    <p class="lead">PrepCS is web service aimed at providing Computer Science students at Howard University
      a personalized career development platform on 3 major fronts:</p>
    <hr class="my-4">
    <div class="list-group">
        <a href="#" style="background-color: #F3969A; color:white"
        class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Coding Interview Readiness</h5>
          </div>
          <p class="mb-1">Prepares you for Technical and Behavioral Interviews.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Resume Building</h5>
          </div>
          <p class="mb-1">Stand out from the crowd and your fellow peers.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">CS-Related Event Tracking</h5>
            </div>
            <p class="mb-1">Always be in the know to further your career goals.</p>
          </a>
      </div>
  </div>
  